<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="brand">
      <h2>Todo-List</h2>
    </div>
    <div class="container">
      <nav></nav>
      <div class="header">
        <h2><%= day %></h2>
      </div>

      <ul>
        <% for(let i = 0; i < newItem.length; i++){ %>
        <div class="item">
          <input type="checkbox" name="" id="" />
          <p><%= newItem[i] %></p>
        </div>

        <% } %>
      </ul>

      <form action="/" method="post">
        <input
          id="addItem"
          type="text"
          name="addItem"
          id=""
          placeholder="Add Item"
          autocomplete="off"
        />
        <input id="addBtn" type="submit" value="+" />
      </form>
    </div>
    <footer>
      <h3>Code & Designed by Waris Alokozay 2022</h3>
    </footer>
  </body>
</html>
